NEXT_PUBLIC_SUPABASE_URL=https://qyuxbqapnaevghsxknwo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF5dXhicWFwbmFldmdoc3hrbndvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3MjA5MDMsImV4cCI6MjA5MTI5NjkwM30.X-G1q6lXSOSkJUAJ08DeM3LudBdHRkVyTdZOqcod39o